header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header nav {
    display:flex;
    justify-content: space-around;
    height: 100%;
    width: 50%;
    align-items: center;
}

header nav a:active,
header nav a:visited {
    color: rgb(126, 23, 23);
}

